RewriteEngine on
RewriteCond $1 !^(index\.php|wormholeexplorer|image|js|css|robots\.txt)
RewriteRule ^(.*)$ index.php [L]
RewriteCond $1 !^(index\.php|image|js|css|robots\.txt)
RewriteRule ^wormholeexplorer/(.*)$ /wormholeexplorer/index.php/$1 [L]
